<div class="landing-container">
    <div class="landing-header-container">
        <h1 class="landing-title">AR Egg Hunt</h1>
    </div>
    <div class="landing-main-container">
        <div class="landing-button-container">
            <a class="landing-primary-button" href="#"><p>Start Hunting</p></a>
            <br />
            <a class="landing-secondary-button" href="#"><p>Tutorial</p></a>
        </div>
    </div>
    <div class="landing-footer-container">
        <a id="github-link" href="https://github.com/josiahchapman/ar-egg-hunt" target="_blank">View code on GitHub</a>
    </div>
</div>